body {
	background-color: #EAF6F6;
}

h1 {
	color: #eba83a;
}

h3 {
	color: #867ae9;
}

hr {
	height: 3px;
	background-color: #ccc;
	border: none;

}

img {
	max-width: 20%;
	height: auto;
}

.arial {
	font-family: Arial, Helvetica, sans-serif;
}

.newroman {
	font-family: "Times New Roman", Times, serif;
}